{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>Records ...</h1>
{% if records %}
  {% for record in records %}
    {{record.id}} || {{ record }} <br/>
  {% endfor %}  
{% endif %}

{% else %}
<div class="col-md-6 offset-md-3">
    
    <h1>Login</h1>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="user_name" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</div>
{% endif %}
{% endblock %}